*{
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }
  
header {

    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to left, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    padding: 2rem;
    justify-content: space-between;
    align-content: center;
}

    
.art{
    display: flex; 
    padding: 50px 30px;
    background-color: cadetblue;
    flex-direction: row;
    justify-content: space-evenly;
    
    
    
}

.cartas{
    padding: 50px 30px;
    display: flex;
    align-items: center;
    
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to top, #2564c2 0%, #437eb9 48%, #6BBBFF 100%);
    padding: 2rem;
    
  
  }

