*{
  font-family: 'Poppins', sans-serif;
  
}


  .slide-left {
    -webkit-animation: slide-left 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-left 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
 

 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}


  

  
footer{
  width: 100%;
  padding: 50px 0px;
  background-image: url(../assets/footers/background-footer.svg);
  background-size: cover;
  background-color: #2564c2;
  -webkit-mask-image: url(../assets/footers/background-footer.svg);
  mask-image: url(../assets/footers/background-footer.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
}

.contenedor_footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.caja_footer{
  display: flex;
  flex-direction: column;
  padding: 40px;

}

.caja_footer .logo img{
  width: 170px;
}

.caja_footer .terminos{
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.caja_footer h2{
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;

}

.caja_footer{
  margin: 10px;
  color: #7a7a7a;
  font-weight: 600;

}

.caja_footer a:hover{
  opacity: 1;

}

.caja_foter a .fab{
  font-size: 20px;
}



@media screen and(max-width: 764px){
  .hero{

    padding: auto;
    
  }
  
}






.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(77, 72, 72, 0.85),rgba(209, 197, 139, 0.432) ), url(../assets/Hotel/gaddafi-rusli-2ueUnL4CkV8-unsplash.jpg);
  background-size: cover;
  background-position: center;
  
 

}
.titulo{
  font-size:70px;
  line-height: 100px;
  font-weight: bold;
  height: 100px;
  text-align: left;
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  overflow: hidden;
}


.content{
  width: 100%;
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  flex-wrap: wrap;
  
  

}

.content p{
  margin: 20px auto;
  font-weight: 80;
  line-height: 25px;
  font-family: sans-serif;

}

.button{
  padding: 15px  25px;
  margin: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  border: 2px solid #ffc107;
  cursor: pointer;
  background: linear-gradient(to right, transparent 50%, ffc107 50%);
  
 


}









@keyframes slider{
  0%{margin-top: -400px;}
  5%{margin-top: -200px;}
  30%{margin-top: -200px;}
  35%{margin-top: 0px;}
  65%{margin-top: 0px;}
  70%{ margin-top: 200px;}
  100%{ margin-top: 200px;}

}



.texto{
  
  padding: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(0deg, rgba(255,255,255,1) 28%, rgba(121,238,255,0.6103818236278886) 79%);
 
}

.slider{
  color: #ffc107;
  margin-left: 12px;
  box-sizing: border-box;
  animation: slider 6.5s linear infinite;

}


@media screen and(max-width:601px){
  div .titulo{
    display: none;
  }

  
}


.login{
 display: flex;
 flex-direction: column;
 justify-content: right;
 align-items: flex-end;
 padding: 15px;
 
}

.login h1{
  color: #fff;
  font-size:1.4rem;
  
}


@media screen and(min-width: 733px){

 .slider{
  display: none;
 }
  
}





  





