*{
  font-family: 'Poppins', sans-serif;
}

  
  
  
  
  
  
  
  footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../assets/footers/background-footer.svg);
    background-size: cover;
    background-color: #2564c2;
    -webkit-mask-image: url(../assets/footers/background-footer.svg);
    mask-image: url(../assets/footers/background-footer.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  
  .contenedor_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
  }
  
  .caja_footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
  
  }
  
  .caja_footer .logo img{
    width: 170px;
  }
  
  .caja_footer .terminos{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
  }
  
  .caja_footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
  
  }
  
  .caja_footer{
    margin: 10px;
    color: #7a7a7a;
    font-weight: 600;
  
  }
  
  .caja_footer a:hover{
    opacity: 1;
  
  }
  
  .caja_foter a .fab{
    font-size: 20px;
  }
  
  
  
  @media screen and(max-width: 764px){
    .hero{
  
      padding: auto;
    }
      
    }
    
  
    .contenedor_footer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1200px;
      margin: auto;
      margin-top: 100px;
    }
    
    .caja_footer{
      display: flex;
      flex-direction: column;
      padding: 40px;
    
    }
    
    .caja_footer .logo img{
      width: 170px;
    }
    
    .caja_footer .terminos{
      max-width: 350px;
      margin-top: 20px;
      font-weight: 500;
      color: #7a7a7a;
      font-size: 18px;
    }
    
    .caja_footer h2{
      margin-bottom: 30px;
      color: #343434;
      font-weight: 700;
    
    }
    
    .caja_footer{
      margin: 10px;
      color: #7a7a7a;
      font-weight: 600;
    
    }
    
    .caja_footer a:hover{
      opacity: 1;
    
    }
    
    .caja_foter a .fab{
      font-size: 20px;
    }

    .ultimo{
      display: flex;
      padding: 30px;
      flex-direction: row;
      gap: 50px;
      align-items: center;
      justify-content: center;
      padding-bottom: 150px;
      background-color: rgb(255, 255, 255);
      padding-top: 150px;
      background: linear-gradient(180deg, rgba(255,255,255,1) 44%, rgba(222,251,255,1) 61%);
    
      
    }
  
    .ultimo-v2{
      background: linear-gradient(0deg, rgba(212,255,247,1) 9%, rgba(255,255,255,1) 44%, rgba(222,251,255,1) 61%);
      display: flex;
      padding: 30px;
      flex-direction: row;
      gap: 50px;
      align-items: center;
      justify-content: center;
      padding-bottom: 150px;
      background-color: rgb(255, 255, 255);
      padding-top: 150px;
    
      
    }


    .ultimo-v3{
      background: linear-gradient(180deg, rgba(222,251,255,1) 28%, rgba(255,255,255,1) 79%);
      display: flex;
      padding: 30px;
      flex-direction: row;
      gap: 50px;
      align-items: center;
      justify-content: center;
      padding-bottom: 150px;
      background: linear-gradient(180deg, rgba(212,255,247,1) 28%, rgba(255,255,255,1) 79%);
      padding-top: 150px;
    
    }
  
  
   
  
   @media screen and (max-width: 1385px) {
    .ultimo{
      flex-wrap: wrap;
      padding: 50px;
  
      
    }
  
    .ultimo-v2{
      flex-wrap: wrap;
      padding: 50px;
      
    }

    .ultimo-v3{
      flex-wrap: wrap;
      padding: 50px;
      
    }
    
   }