@import "./variables"

 *{
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;

  }
  
header {

  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to left, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  background-color: $borderBlack;
  padding: 2rem;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

main{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

img{
  width: 100%;
}

.row{
  display: flex;
  padding: 5px;
  flex-wrap: wrap;

}

.column{
  flex: 25%;
  padding: 7px;
}

.column img{
  margin-top: 7px;
}
    
    

  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(216,215,255,1) 0%, rgba(255,254,255,1) 50%, rgba(216,215,255,1) 100%);
    padding: 18rem;
  }
  
  body {
    font-family: system-ui, sans-serif;
  }
  
  h1 {
    font-size: 1.5rem;
  }    

    


.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
  width: 100%;
  padding: 50px 0px;
  background-image: url(../assets/footers/background-footer.svg);
  background-size: cover;
  background-color: #2564c2;
  -webkit-mask-image: url(../assets/footers/background-footer.svg);
  mask-image: url(../assets/footers/background-footer.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
}

.contenedor_footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.caja_footer{
  display: flex;
  flex-direction: column;
  padding: 40px;

}

.caja_footer .logo{
  width: 170px;
}

.caja_footer .terminos{
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.caja_footer h2{
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;

}

.caja_footer{
  margin: 10px;
  color: #7a7a7a;
  font-weight: 600;

}

.caja_footer a:hover{
  opacity: 1;

}

.caja_foter a .fab{
  font-size: 20px;
}
    
@media screen and (max-width: 320px){

  
  .column{
  
    flex: 100%;
    }

  }


@media screen and (max-width: 763px) {

  
  .column{
  
    flex: 100%;
    }
    
  
}
  
@media screen and (max-width: 1024px) {

  
  .column{
  
    flex: 50%;
    }
    
  
}

  
@media screen and(max-width: 763px ){
  header{
    flex: 50%;
  }
  
}